export const appwriteConfig = {
  endpoint: "https://cloud.appwrite.io/v1",
  platform: "com.lullaby.bs",
  projectId: "",
  databaseId: "",
  userCollectionId: "",
  videoCollectionId: "",
  storageId: "",
}
